.order-details-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 80px;
  margin-left: 80px;
  background-color: whitesmoke;
  padding-left: 20px;
  padding-right: 20px;
}

.width-details {
  width: 150px;
  font-weight: bold;
}

.container-width {
  width: 220px;
}
